<div class="left sliding"><a href="#index" class="back link"><i class="icon icon-back"></i><span>Back</span></a></div>
<div class="center sliding">Saved</div>
	<div class="subnavbar sliding">
<!--     	<a href="#" data-popover=".popover-links" class="open-popover button button-round" style="margin: auto;">All 
            <i class="f7-icons icon" style="display: inline;">down</i>
		</a> -->
    	<a href="#" class="category button button-round" style="margin: auto;">All 
            <i class="f7-icons icon" style="display: inline;">down</i>
		</a>
	</div>
