a.floating-button{
	background:none !important;
	top: 65px;
}

.size-150 {
	font-size: 150px;
}
.size-30 {
	font-size: 30px;
}
.size-40 {
	font-size: 40px;
}
.size-50 {
	font-size: 50px;
}

i.touchpad-icon {
	color: #e1e1e1;
	position: absolute;
    top: 40%;
    left: 20%;
    right: 20%;
}
.empty-layout {
	position: absolute;
    top: 30%;
    left: 10%;
    right: 10%;
}

.h2-light {
	font-weight: 400;
}

/* Tag color */
.tag-lightblue {
	background: #5ac8fa;
}
.tag-yellow {
	background: #ffcc00;
}
.tag-orange {
	background: #ff9500;
}
.tag-pink {
	background: #ff2d55;
}
.tag-blue {
	background: #007aff;
}
.tag-green {
	background: #4cd964;
}
.tag-red {
	background: #ff3b30;
}

.swiper-container {
  height: 100%;
}
.swiper-slide {
  background:#fff;
}
.swiper-slide span {
  display:block;
  margin:20px;
}

.tabbar-labels a.tab-link {
	padding-top: 12px;
/*	padding-bottom: 8px;*/
}

.card-footer a {
    color: #929292;
}

.card-footer a.active {
    color: #007aff;
}



