<script type="text/template7" id="acquiringTemplate">
  <div class="content-block" style="margin: 10px 0;">
    <div class=" color-black">
      <div class="row">
        <div class="col-33">
          {{#if image}}
            <img src="/app/img/{{image}}" width="100" height="120">
          {{else}}
            <img src="" width="100" height="120">
          {{/if}}
          
        </div>
        <div class="col-66">
          <div style="font-size: 20px; font-weight: bold;">{{title}}</div>

          {{#if category}}
            <h3>หมวดหมู่: 
            {{#category}}
              <span class="chip chip-label" style="margin-bottom: 10px; background-color: {{color}}">{{type}}</span>
            {{/category}}
            </h3>
          {{/if}}

<!--           {{#category}}
            <p class="chip chip-label" style="margin-bottom: 10px; background-color: {{color}}">{{type}}</p>
          {{/category}} -->

<!--           <p>ความยาว: {{duration}}</p> -->

          {{#if register}}
            <a href="javascript:void(0);" data-source="register" class="button button-fill color-blue external-page" data-url="{{register}}">Buy Ticket</a>
          {{/if}}
        </div>
      </div>
      <div class="row">
<!--         <div class="col-33">
          {{#if category}}
            <p>หมวดหมู่&nbsp;
              {{#category}}
                <p class="chip chip-label" style="margin-bottom: 10px; background-color: {{color}}">{{type}}</p>
              {{/category}}
            </p>
          {{/if}}
        </div> -->
        <div class="col-50">
          {{#if duration}}
            <h3>ความยาว</h3>
            <p>{{duration}}</p>
          {{/if}}
        </div>
        <div class="col-50">
          {{#if schedule}}
            <h3>วันที่เข้าฉาย</h3>
            {{#schedule}}
              {{#if topic}}
                <p>{{topic}}: {{date}}</p>
              {{else}}
                <p>{{date}}</p>
              {{/if}}
            {{/schedule}}
          {{/if}}
        </div>
      </div>
      <div class="row">
        {{#if description}}
          <h3>เรื่องย่อ</h3>
          <div>{{description}}</div>
        {{/if}}

        {{#if contact}}
          {{#contact}}
            {{#if website}}
              <span><a href="javascript:void(0);" data-source="website" class="external-page" data-url="{{website}}">Read more...</a></span>
            {{/if}}
          {{/contact}}
        {{/if}}
      </div>
<!--       <div>
        {{#if location}}
          <h3>สถานที่จัดกิจกรรม</h3>
          <p>{{location}}</p>
        {{/if}}
      </div> -->
<!--       <div>
        {{#if contact}}
          <h3>รายละเอียดเพิ่มเติม</h3>
          {{#contact}}
            {{#if website}}
              <span><i class="f7-icons icon">world</i>&nbsp;<a href="javascript:void(0);" data-source="website" class="external-page" data-url="{{website}}">Read more...</a></span>
            {{/if}}

            {{#if email}}
              <p>Email: <a href="mailto:{{email}}" data-source="email" class="external">{{email}}</a></p>
            {{/if}}

            {{#if tel}}
                {{#tel}}
                  <p><i class="f7-icons icon">phone_fill</i>&nbsp;<a href="tel:{{number}}" data-source="tel" class="external">{{number}}</a><span>{{name}}</span></p>
                {{/tel}}
              </p>
            {{/if}}
          {{/contact}}
        {{/if}}
      </div> -->
    </div>

<!--     <div class="row">
      {{#if share}}
        {{#share}}
          <a href="{{facebook}}" class="tab-link social-footer external" target="_blank">
              <i class="f7-icons icon" >social_facebook_fill</i>

          </a>
          <a href="{{googleplus}}" class="tab-link social-footer external">
              <i class="f7-icons icon">social_googleplus</i>
          </a>
          <a href="{{twitter}}" class="tab-link social-footer external" target="_blank">
              <i class="f7-icons icon">social_twitter_fill</i>
          </a>
          {{#email}}
          <a href="mailto:?subject={{subject}}&body={{body}}" id="share-email" class="tab-link social-footer external" target="_blank">
              <i class="f7-icons icon">email_fill</i>
          </a>
          {{/email}}
          <a href="#" id="acquire-bookmark"  class="tab-link social-footer external">
              <i class="f7-icons icon">bookmark_fill</i>
          </a>
        {{/share}}
      {{/if}}
    </div> -->
  </div>
</script>


