<div data-page="acquire" class="navbar-inner cached">
    <div class="left sliding"><a href="#index" class="back link"><i class="icon icon-back"></i><span>Control Mode</span></a></div>
    <div class="center sliding">Details</div>
</div>
<div data-page="acquire" class="page cached">
    <div id="switchMode" class="page-content" style="background-color: #fff"></div>
    <%- include('./acquiringTemplate'); %>
</div>