<div class="page-content" style="margin-top: 20px;">
  <div class="content-block color-black" style="text-align: center;">
    <div class="empty-layout">
      <i class="f7-icons size-40">bookmark_fill</i>
      <h2 class="h2-light">Nothing Here</h2>
      <p style="padding: 0 20px 0 20px;">Save events you want to see again.</p>
    </div>
  </div>
</div>
