<!doctype html>
<%- include('./header'); %>

<body>
    <div class="statusbar-overlay"></div>
    <div class="views">
        <div class="view view-main">

      <!-- Navbar -->
      <div class="navbar">
          <div data-page="bookmarkList" class="navbar-inner">
              <div class="center sliding">Saved</div>
          <div class="subnavbar sliding">
              <a href="#" class="category button button-round" style="margin: auto;">All 
                    <i class="f7-icons icon" style="display: inline;">down</i>
            </a>
          </div>
          </div>
      </div>

      <!-- Pages -->
      <div class="pages navbar-fixed toolbar-fixed">
          <div data-page="bookmarkList" class="page">
              <div class="page-content" style="margin-top: 20px;">
                <div class="content-block color-black" style="text-align: center;">
                  <div class="empty-layout">
                    <i class="f7-icons size-40">bookmark_fill</i>
                    <h2 class="h2-light">Nothing Here</h2>
                    <p style="padding: 0 20px 0 20px;">Save events you want to see again.</p>
                  </div>
                </div>
              </div>
          </div>
      </div>
        </div>
    </div>
    <!-- Popover (BookmarkList page) -->
    <%- include('./partials/popover'); %>
  <%- include('./scripttag'); %>
        
</body>

</html>