<!-- Navbar -->
<div class="navbar">
    <div data-page="bookmarkList" class="navbar-inner">
        <%- include('./partials/nav_bookmarkList'); %>
    </div>
</div>

<!-- Pages -->
<div class="pages navbar-fixed toolbar-fixed">
    <div data-page="bookmarkList" class="page">
        <div class="page-content" style="margin-top: 20px;"></div>
        <%- include('./bookmarkListTemplate'); %>
    </div>
</div>
