<script type="text/template7" id="bookmarkListTemplate">
    <div class="content-block" style="padding: 0 5px;">
        <div class="list-block cards-list">
            <ul> 
                {{#each event_list}}
                <a href="#details" style="color: #000000">
                  <li class="card" data-id="{{this.id}}"> 
                    <div class="card-content">
                      <div class="list-block media-list">
                          <div class="item-content">
                            <div class="item-media">
                              {{#if this.image}}
                                <img src="/app/img/{{this.image}}" width="100" height="120">
                              {{else}}
                                <img src="" width="100" height="120">
                              {{/if}}
                            </div>
                            <div class="item-inner">
                              <div class="item-title-row">
                                <div class="item-title">{{this.title}}</div>
                              </div>
                              <div class="item-subtitle" style="margin-bottom: 0px;">
                                <p><i class="material-icons size-15 color-blue">schedule</i>
                                  {{#this.schedule}}
                                    <span>{{this.topic}}: {{this.date}}</span>
<!--                                     <span>{{this.topic}}: {{this.date}}</span><br/>&nbsp;&nbsp;&nbsp;&nbsp; -->
                                  {{/this.schedule}}
                                </p>
                              </div>
                              <div class="item-subtitle" style="margin-bottom: 5px;"><i class="material-icons size-15 color-blue">place</i> {{this.location}}</div>
                            </div>
                          </div>
                      </div>
                    </div>
                   
                    <div class="card-footer">
                      {{#this.category}}
                        <div class="chip chip chip-label" style="margin-bottom: 10px; background-color: {{this.color}}; font-weight: 500;">{{this.type}}</div>
                      {{/this.category}}
                      <a href="#" class="link bookmark-card"  data-id="{{this.id}}"><i class="f7-icons icon">bookmark_fill</i></a>
                    </div>
                  </li>  
                </a>
                {{/each}}
            </ul>
        </div>
    </div>
</script>
