<!-- <a href="#help" class="floating-button">
    <i class="f7-icons icon color-gray size-30">help_fill</i>
</a> -->
<div class="content-block">
    <i class="f7-icons size-150 icon touchpad-icon">bookmark</i>
</div>