<div class="content-block">
    <i class="f7-icons size-150 icon">navigate_before</i><i class="f7-icons size-150 icon">navigate_next</i>
<!--     <i class="f7-icons size-150 icon bookmark-icon">bookmark_fill</i> -->
    <i class="f7-icons size-65 icon play-icon">play_fill</i><i class="f7-icons size-65 icon pause-icon">pause_fill</i>
</div>