<div data-page="help" class="navbar-inner cached">
    <div class="left sliding"><a href="#index" class="back link"><i class="icon icon-back"></i><span>Back</span></a></div>
    <div class="center sliding">Help</div>
</div>

<div data-page="help" class="page cached">
    <div class="page-content">
        <p>Under Instruction</p>
    </div>
</div>
