<!doctype html>
<%- include('./header'); %>

<body>
    <div class="statusbar-overlay"></div>
    <div class="views">
        <div class="view view-main">
            <!-- Navbar -->
            <div class="navbar">
                <!-- BookmarkmarkList navbar -->
                <div data-page="bookmarkList" class="navbar-inner cached">
                    <div class="center">Bookmarks</div>
<!--                     <div class="subnavbar">
                        <a href="#" class="category button button-round" style="margin: auto;">All 
                            <i class="f7-icons icon" style="display: inline;">down</i>
                        </a>
                    </div> -->
                </div>
                <!-- Details navbar -->
                <div data-page="details" class="navbar-inner cached">
                  <div class="left sliding"><a href="#bookmarkList" class="back link"><i class="icon icon-back"></i><span>Saved list</span></a></div>
                  <div class="center sliding">Details</div>
                </div>
            </div>

            <!-- Pages -->
            <div class="pages navbar-fixed toolbar-fixed">
                <!-- BookmarkList page -->
                <div data-page="bookmarkList" class="page cached">
                    <%- include('./bookmarkList'); %>
                </div>
                <!-- Details page -->
                <div data-page="details" class="page cached">
                    <%- include('./details'); %>
                </div>
                
            </div>
        </div>
    </div>
    <!-- Popover (BookmarkList page) -->
    <%- include('./partials/popover'); %>
        <!-- <script src="/vendor/jquery-3.2.1.min.js"></script> -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    
    <script src="/vendor/js-cookie/js-cookie.js"></script>
    <script src="/vendor/lodash.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script type="text/javascript" src="/framework7/js/framework7.min.js"></script>
    <script type="text/javascript" src="/template7/template7.min.js"></script>
    <script type="text/javascript" src="/app/js/event_list.js"></script>
    <script type="text/javascript" src="/app/js/app.js"></script>
    <!-- <script type="text/javascript" src="/app/js/app_ios.js"></script> -->
    <script type="text/javascript" src="/app/js/bookmark_function.js"></script>
    <script type="text/javascript" src="/app/js/bookmark_view.js"></script>
    

    <script type="text/javascript">
        //$(() => {
            var socket = io();
            /*
            var clickedBookmarkId;
            function renderBookmarkListPage(page) {
                function getEventListFromBookmarkList(data) {
                    return _.filter(event_list, event => data.content.filter(d => d.id == event.id).length === 1);
                }

                let render = (responseEventList) => {
                    if (responseEventList.length != 0) {
                        let bookmarkListHTML = Template7.templates.bookmarkListTemplate({ event_list: responseEventList});
                        $$(page.container).find('.page-content').html(bookmarkListHTML);
                    }else {
                        $$(page.container).find('.page-content').html(`
                            <div class="content-block color-black" style="margin-top: 20px; text-align: center;">
                                <div class="empty-layout">
                                    <i class="f7-icons size-40">bookmark_fill</i>
                                    <h2 class="h2-light">Nothing Here</h2>
                                    <p style="padding: 0 20px 0 20px;">Bookmark events you want to see again.</p>
                                </div>
                            </div>
                        `);
                    }
                    return responseEventList;
                }

                console.log("Navigated to bookmark list");

                getBookmarkList()
                    .then(getEventListFromBookmarkList)
                    .then(render);

                $$('.page-content').on('click', '.card-content', (e) => {
                    clickedBookmarkId = $$(e.target).parents('li.card').data('id');
                    console.log(clickedBookmarkId);
                    mainView.router.load({
                        pageName: 'details'
                    });
                });

                $$('.page-content').on('click', '.delete-card', (e) => {
                    let bookmarkId = $(e.target).parent().data('id');
                    deleteBookmark(bookmarkId)
                        .then(getEventListFromBookmarkList)
                        .then(render);
                });

                console.log("render");
            }
            */
            myApp.onPageInit('bookmarkList', renderBookmarkListPage);
            myApp.onPageReinit('bookmarkList', renderBookmarkListPage);

            mainView.router.load({
                pageName: 'bookmarkList',
                animatePages: false
            });

           /**function renderDetailsPage(page) {
                var eventObj = _.find(event_list,{ 'id': clickedBookmarkId});
                console.log('detail: ' + eventObj);
                var detailsHTML = Template7.templates.detailsTemplate(
                    {
                        id: _.get(eventObj, 'id'),
                        title: _.get(eventObj, 'title'),
                        category: _.get(eventObj, 'category'),
                        image: _.get(eventObj, 'image'),
                        description: _.get(eventObj, 'description'),
                        schedule: _.get(eventObj, 'schedule'),  
                        location: _.get(eventObj, 'location'),  
                        register: _.get(eventObj, 'register'),
                        contact: _.get(eventObj, 'contact'),
                        share: _.get(eventObj, 'share')
                    }
                );

                $$(page.container).find('.page-content').html(detailsHTML);

            }

            myApp.onPageInit('details', renderDetailsPage);
            myApp.onPageReinit('details', renderDetailsPage);**/

        //});

    </script>   
</body>

</html>
