<!doctype html>
<%- include('./header'); %>

<body>
    <div class="statusbar-overlay"></div>
    <div class="views">
        <div class="view view-main">
            <!-- Navbar -->
            <div class="navbar">
                <!-- BookmarkmarkList navbar -->
                <div data-page="bookmarkList" class="navbar-inner cached">
                    <div class="center">Bookmarked List</div>
<!--                     <div class="subnavbar">
                        <a href="#" class="category button button-round" style="margin: auto;">All 
                            <i class="f7-icons icon" style="display: inline;">down</i>
                        </a>
                    </div> -->
                </div>
            </div>

            <!-- Pages -->
            <div class="pages navbar-fixed toolbar-fixed">
                <!-- BookmarkList page -->
                <div data-page="bookmarkList" class="page cached">
                    <%- include('./bookmarkList'); %>
                </div>
                <!-- Details page -->
                <%- include('./detailsTemplate'); %>
            </div>
        </div>
    </div>
    <!-- Popover (BookmarkList page) -->
    <%- include('./partials/popover'); %>
        <!-- <script src="/vendor/jquery-3.2.1.min.js"></script> -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    
    <script src="/vendor/js-cookie/js-cookie.js"></script>
    <script src="/vendor/lodash.js"></script>
    
    <script type="text/javascript" src="/framework7/js/framework7.min.js"></script>
    <script type="text/javascript" src="/template7/template7.min.js"></script>
    <script type="text/javascript" src="/app/js/event_list.js"></script>
    <script type="text/javascript" src="/app/js/app.js"></script>
    <!-- <script type="text/javascript" src="/app/js/app_ios.js"></script> -->
    <script type="text/javascript" src="/app/js/bookmark_function.js"></script>
    

    <script type="text/javascript">
        $(() => {
            function renderBookmarkListPage(page) {
                function getEventListFromBookmarkList(data) {
                    return _.filter(event_list, event => data.content.filter(d => d.id == event.id).length === 1);
                }

                let render = (responseEventList) => {
                    if (responseEventList.length != 0) {
                        let bookmarkListHTML = Template7.templates.bookmarkListTemplate({ event_list: responseEventList});
                        $$(page.container).find('.page-content').html(bookmarkListHTML);
                    }else {
                        $$(page.container).find('.page-content').html(`
                            <div class="content-block color-black" style="margin-top: 20px; text-align: center;">
                                <div class="empty-layout">
                                    <i class="f7-icons size-40">bookmark_fill</i>
                                    <h2 class="h2-light">Nothing Here</h2>
                                    <p style="padding: 0 20px 0 20px;">Bookmark events you want to see again.</p>
                                </div>
                            </div>
                        `);
                    }
                    return responseEventList;
                }

                console.log("Navigated to bookmark list");

                getBookmarkList()
                    .then(getEventListFromBookmarkList)
                    .then(render);

                $$('.page-content').on('click', '.card-content', (e) => {
                    let clickedBookmarkId = $$(e.target).parents('li.card').data('id');
                    console.log(clickedBookmarkId);
                    mainView.router.load({
                        template: Template7.templates.detailsTemplate,
                        context: EventListService.get(clickedBookmarkId)
                    });
                });

                $$('.page-content').on('click', '.delete-card', (e) => {
                    let bookmarkId = $(e.target).parent().data('id');
                    deleteBookmark(bookmarkId)
                        .then(getEventListFromBookmarkList)
                        .then(render);
                });

                console.log("render");
            }
            myApp.onPageInit('bookmarkList', renderBookmarkListPage);
            myApp.onPageReinit('bookmarkList', renderBookmarkListPage);

            mainView.router.load({
                pageName: 'bookmarkList',
                animatePages: false
            });
        })   

    </script>
        <!-- <script type="text/javascript">
            window.addEventListener("focus", function(evt){
            socket.emit('chat message', "connected");
          }, false);
            window.addEventListener("blur", function(evt){
            socket.emit('chat message', "disconnected");
          }, false);
        </script> -->
        
</body>

</html>
