a.floating-button{
	background:none !important;
	top: 65px;
}

.size-10 {
	font-size: 10px;
}
.size-15 {
	font-size: 15px;
}
.size-30 {
	font-size: 30px;
}
.size-40 {
	font-size: 40px;
}
.size-50 {
	font-size: 50px;
}
.size-65 {
	font-size: 65px;
}
.size-75 {
	font-size: 75px;
}
.size-80 {
	font-size: 80px;
}
.size-150 {
	font-size: 150px;
}

i.bookmark-icon {
	color: #e1e1e1;
	position: absolute;
    top: 25%;
    left: 20%;
    right: 20%;
}
i.play-icon {
	color: #e1e1e1;
	position: absolute;
    top: 65%;
    left: 0;
    right: 10%;
}
i.pause-icon {
	color: #e1e1e1;
	position: absolute;
    top: 65%;
    left: 10%;
    right: 0;
}
i.swipe-l-icon {
	color: #e1e1e1;
	position: absolute;
    top: 25%;
    left: 0%;
    right: 65%;
}
i.swipe-r-icon {
	color: #e1e1e1;
	position: absolute;
    top: 25%;
    left: 65%;
    right: 0%;
}
.empty-layout {
	position: absolute;
    top: 30%;
    left: 10%;
    right: 10%;
}

.h2-light {
	font-weight: 400;
}

/* Color */
.color-lightblue {
	color: #5ac8fa;
}
.color-yellow {
	color: #ffcc00;
}
.color-orange {
	color: #ff9500;
}
.color-pink {
	color: #ff2d55;
}
.color-blue {
	color: #007aff;
}
.color-green {
	color: #4cd964;
}
.color-red {
	color: #ff3b30;
}
.color-gray {
	color: #929292;
}

.swiper-container {
  height: 100%;
}
.swiper-slide {
  background-color: #000000;
  opacity: 0.6;
  filter: alpha(opacity=60);
}

.tabbar_social a.tab-link {
	padding-top: 12px;
	padding-bottom: 8px;
}
.item-inner .item-subtitle{
	font-size: 14px;
    font-weight: 500;
}

.social-footer i {
    color: #929292;
}

.card-footer a.active {
    color: #007aff;
}

.item-media img {
	width: 60px;
	height: 80px;
}

.action-tabbar {
	padding: 10px;
}

