<div class="left"><a href="#" class="button" onclick="(function() { localStorage.clear(); location.reload() })()">Reset</a></div>
<div class="center sliding">Control Mode</div>
<div class="right"><a href="#bookmarkList" id="bookmarkList-icon" class="link icon-only"><i class="f7-icons icon">collection_fill<span id="badge" class="badge bg-red"></span></i></a></div>