<div class="left"><a href="#index" class="link"><!-- <a href="#" class="button" onclick="(function() { localStorage.clear(); location.reload() })()">Reset</a> --></div>
<div class="center sliding"><i class="f7-icons icon theme-orange"></i><span style="color: #000000;">Pokie</span></div>
<div class="right"><a href="#bookmarkList" id="bookmarkList-icon" data- class="link icon-only"><i class="f7-icons icon">collection_fill<span id="badge" class="badge bg-red"></span></i></a></div>