<div class="left"><a href="#" class="button" onclick="(function() { localStorage.clear(); location.reload() })()">Reset</a></div>
<div class="center sliding">Control Mode</div>
<div class="right"><a href="#saved" class="link icon-only"><i class="f7-icons icon">bookmark_fill<span class="badge bg-red">4</span></i></a></div>