<script type="text/template7" id="tabbarSocialTemplate">
<div class="toolbar tabbar tabbar-labels tabbar_social" style="background: #ffffff;">
  <div class="toolbar-inner">
    <a href="#" class="tab-link facebook">
        <i class="f7-icons icon">social_facebook_fill</i>
    </a>
    <a href="#" class="tab-link ggplus">
        <i class="f7-icons icon">social_googleplus</i>
    </a>
    <a href="#" class="tab-link twitter">
        <i class="f7-icons icon">social_twitter_fill</i>
    </a>
    <a href="#" class="tab-link email">
        <i class="f7-icons icon">email_fill</i>
    </a>
    <a href="#" class="tab-link bookmark">
        <i class="f7-icons icon">bookmark_fill</i>
    </a>
  </div>
</div>
</script>
