<div class="toolbar tabbar tabbar-labels">
  <div class="toolbar-inner">
	<a href="#details" class="tab-link share-button">
		<i class="material-icons">share</i>
	</a>
    <a href="#details" class="tab-link bookmark-button">
        <i class="f7-icons icon">bookmark_fill</i>
    </a>
  </div>
</div>

