<div class="toolbar tabbar tabbar-labels">
  <div class="toolbar-inner">
    <a href="#index" id="disconnect" class="tab-link">
    	<i class="f7-icons icon">logout</i>
    	<span class="tabbar-label">Disconnect</span>
    </a>
<!--     <a href="#" id="addCalendar" class="tab-link">
    	<i class="f7-icons icon">calendar</i>
    	<span class="tabbar-label">Add to calendar</span>
    </a> -->
	<a href="#index" id="share" class="tab-link">
		<i class="material-icons">share</i>
		<span class="tabbar-label">Share</span>
	</a>
    <a href="#index" id="bookmark" class="tab-link">
        <i class="f7-icons icon">bookmark_fill</i>
        <span class="tabbar-label">Bookmark</span>
    </a>
    <a href="#index" id="help" class="tab-link">
    	<i class="material-icons">help</i>
    	<span class="tabbar-label">Help</span>
    </a>
  </div>
</div>

