<div class="toolbar tabbar tabbar-labels">
  <div class="toolbar-inner">
    <a href="#" class="tab-link disconnect">
    	<i class="f7-icons icon">logout</i>
    	<span class="tabbar-label">Disconnect</span>
    </a>
    <a href="#" class="tab-link addCalendar" download>
    	<i class="f7-icons icon">calendar</i>
    	<span class="tabbar-label">Add to calendar</span>
    </a>
	<a href="#" class="tab-link share">
		<i class="material-icons">share</i>
		<span class="tabbar-label">Share</span>
	</a>
    <a href="#" id="bookmark" class="tab-link">
    	<i class="f7-icons icon">bookmark_fill</i>
    	<span class="tabbar-label">Save</span>
    </a>
  </div>
</div>

