<div class="toolbar tabbar tabbar-labels">
  <div class="toolbar-inner">
    <a href="#" class="tab-link disconnect"><i class="f7-icons icon">login</i></a>
    <a href="/calendars/event.ics" class="tab-link addCalendar" download><i class="f7-icons icon">calendar</i></a>
<!--     <a href="#" class="tab-link share"><i class="f7-icons icon">share</i></a> -->
	<a href="#" class="tab-link share"><i class="material-icons">share</i></a>
    <a href="#" id="bookmark" class="tab-link"><i class="f7-icons icon">bookmark_fill</i></a>
  </div>
</div>

