<script type="text/template7" id="detailsTemplate">
    <div class="swiper-container">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="content-block color-black" style="margin: 20px 0;">
            <div class="row">
              <div class="col-33">
                <img src="" width="50" height="100">
              </div>
              <div class="col-66">
                <p>{{title}}</p>
                <p>{{category}}</p>
              </div>
            </div>
            <div class="row">
              <div>
                <h3>Description</h3>
                <p>{{description}}</p>
              </div>
            </div>
            <div class="row">
              <div>
                <h3>Important Date</h3>
                {{#schedule}}
                  <p>{{topic}}: {{date}}</p>
                {{/schedule}}
              </div>
            </div>
            <div class="row">
              <div>
                <h3>Location</h3>
                <p>{{location}}</p>
              </div>
            </div>
            <div class="row">
              <div>
                <h3>Register</h3>
                <p>{{register}}</p>
              </div>
            </div>
            <div class="row">
              <div>
                <h3>Contact</h3>
                {{#contact}}
                <p>Website: <a href="javascript:void(0);" class="external-page" data-url="{{website}}">{{website}}</a></p>
                <p>Email: {{email}}</p>
                <p>Tel: {{tel}}</p>
                {{/contact}}
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-pagination"></div>
    </div>
</script>
